@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 4px;
    padding: 4px;
    box-sizing: border-box;

}

.esas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
  

}

img {
    width: 240px;
}

.two {
    width: 80%;
    height: auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: green;


}
.two i {
    color: rgb(231, 216, 0);
}
.nav h1 {
    font-family: 'Manrope', sans-serif;
    color: rgb(16, 110, 4);
}


.ustpanel {
    width: 100%;
    height: auto;

}

.ustpanel img {
    width: 900px;
    height: auto;
}

.nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
   
}

.nav ul {
    width: 300px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.card {
    border: 1px solid rgba(153, 147, 147, 0.205);

}

.one {
    width: 400px;
    height: auto;
   border: 1px solid rgba(153, 147, 147, 0.205);

}
.card h2 {
    color: rgba(59, 56, 56, 0.562);
    font-size: 12px;
}

.category {
    display: flex;
    justify-content: space-between;

   
}

.one ul li {
    list-style: none;
   
}
.top {
    width: 100%;
    height: 600px;
    background-image:url("photo/con2.jpg");
    background-position: center;
    display: flex;
       align-items: center;
    
}
.top2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 350px;
  
   gap: 20px;
}
.top2 button {
    background-color: green;
    width: 120px;
    height: 30px;
    border-radius: 8px;
}