* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;

}


:root{
    --border: 1px rgba(0, 0, 0, 0.295) solid;
}


table{
    
    border-collapse: collapse;
    display: flex;
    width: fit-content;
    /* border: 1px solid black; */

    /* height: 300; */

    th{
        border: var(--border);
    }
    td{
        border: var(--border);
        border-left-style: none;
    }

    tr{
        /* border: 1px black solid; */
        display: flex;
        flex-direction: column;
    }
}